/* Stylesheet built from Web Typography by Richard Rutter */
/* 2018-08-28 */
/* The numbers at the beginning of each line are the page numbers from the 2017 print edition. */
/* All HTML items are commented out (because this is a stylesheet). */
/* All CSS items without browser support as of the above date are commented out. */
/* All unit values are guidelines or examples. Experiment with your font to find the best values. */



/* HTML */
/*  50 <html lang="en-US"> set to your language and (optional) region tag */
/*  76 <meta charset="utf-8"> */
/*  58 <meta name="viewport" content="width=device-width, initial-scale=1.0"> */

/*  67 non-breaking space    - &nbsp;   - keep words together (eg dates) */
/*  67 thin space            - &thinsp; - separate nested quotes */
/*  68 hair space            - &hairsp; - prevent characters touching */
/*  68 narrow no-break space - &#8239;  - separate numbers and units, initials in names */

/*  70 en dash  - &mdash;  - numerical ranges */
/*  71 em dash  - &ndash;  - set off phrases, with full space for quote attribution; separate from phrases with hair spaces */

/*  72 minus          - − - &minus;  - use for math instead of hyphen */
/*  72 division       - ÷ - &divide; - use obelus for math instead of solidus */
/*  75 multiplication - × - &times;  - use for math instead of x */

/*  72 quotes      - “ ” ‘ ’ - &ldquo; &rdquo; &lsquo; &rsquo;   - use instead of straight quote marks */
/*  72 apostrophes - ’       - &rsquo;                           - use instead of straight single quote */
/*  75 primes      - ′ ″    - &prime; (single) &Prime; (double) - use for feet/inches and minutes/seconds */

/*  73 brackets, parentheses   - mark up to prevent being italicized */
/*  75 ampersands   - &amp;    - use for tables, charts, captions */
/*  75 ellipsis - … - &hellip; - use instead of 3 periods */
/*  75 degrees  - ° - &deg;    - use instead of a superscript o*/

/* 135 caption - first child in table for table captions; can set position with caption { caption-side: top | bottom } */
/* 141 table - use non-breaking spaces and white-space:nowrap to avoid wrapping when more legible */

/* 164 widows - insert &nbsp; between final two words in headings and paragraphs */


/* CSS */
/* 17 Use rems to scale something with the page (global sizing) */
/* 17 Use ems to scale within a component (local sizing) */

body {
    font: 1 rem/1.4 font-name; /* 33, 37, 41, 164 - base size is for mobile, use unitless multiplier for line-height */
    font-variant-ligatures: common-ligatures; /* 82 font-variant-* are supported in IE10+ and modern browsers */
    font-variant-numeric: oldstyle-nums; /* 120 old-style "lowercase" numerals for text */
}

@media screen and (min-width: 60em) {
    body { font-size: 1.125rem; } /* 61 size for tablet, laptop */
}

@media screen and (min-width: 120em) {
    body { font-size: 1.1375rem; } /* 62 size for desktop */
}

p {
    max-width: 1em; /* 24 suggested 23-38 em */
    margin: auto; /* 25 if you want to center text */
            -ms-hyphens: auto;
    -webkit-hyphens: auto;
            hyphens: auto; /* 50 caniuse.com/#feat=css-hyphens No desktop Chrome support */
    /* 52 No support: hyphenate-limit-lines: 2; */
    /* 53 No support: hyphenate-limit-chars: 6 3 2; */
    /* 54 No support: hyphenate-limit-zone: 2em; */
    /* 56 No support: hyphenate-limit-last: always; */
    
    margin-bottom: 0; /* 104 indent paragraphs for long form; use space between for short form */
    margin-bottom: 1.4em; /* 172 when using space between paragraphs, maintain vertical rhythm by setting bottom margin to size of line height */
        /* 183 use ems to set margins in running text, percentages or vw for surrounding white space */
}

p + p {
    margin-top: 0; /* 104 indent paragraphs for long form; use space between for short form */
    text-indent: 1.5em; /* 104 indent paragraphs for long form; use space between for short form */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1; /* 98 less leading for headings */
        /* 173 set heading line heights to maintain vertical rhythm */
    font-variant-numeric: lining-nums; /* 122 lining "uppercase" numerals for headings */
}

/* 94, 95 set a hierarchy scale and adjust to different device sizes */
h1 { 
    font-size: 2.0625rem; /* 33px */
    font-size: 13vmin; /* 155 consider using vmin to scale large display headings with viewport */
}

h2 { 
    font-size: 1.5625rem; /* 25px */
    font-size: calc(0.5rem + 2.5vmin); /* 158 consider using rem and vmin to scale subheadings modestly */
}

h3 {
    font-size: 1.3125rem; /* 21px */ 
}

h4, 
h5,
h6 { /* 97 even if you don't intend to use all of h1-h6, style them just in case */ 
    font-size: 1rem; /* 16px */ 
}

p { 
    font-size: 1rem; /* 16px */ 
}

@media screen and (min-width: 60em) and (min-height: 30em) {
    h1 { font-size: 3.1875rem; /* 51px */ }
    h2 { font-size: 2.0625rem; /* 33px */ }
    h3 { font-size: 1.5625rem; /* 25px */ }
    h4, h5, h6 { font-size: 1.125rem; /* 18px */ }
    p { font-size: 1.125rem /* 18px */ }
}

@media screen and (min-width: 120em) and (min-height: 60em) {
    h1 { font-size: 4.875rem; /* 78px */ }
    h2 { font-size: 2.75rem; /* 44px */ }
    h3 { font-size: 1.75rem; /* 28px */ }
    h4, h5, h6 { font-size: 1.3125rem; /* 21px */ }
    p { font-size: 1.3125rem; /* 21px */ }
}



article p:first-of-type::first-line {
    font-variant-caps: small-caps; /* 99 to style run-ins */
}

/* 101 to implement drop caps - caniuse.com/#feat=css-initial-letter no browser support
article p:first-of-type::first-letter {
    initial-letter: 3;
}
*/

/* 101 to open passage with symbol - caniuse.com/#feat=css-initial-letter no browser support
article p:first-of-type::before {
    content:"❧";
}
p:first-of-type::first-letter {
    initial-letter: 2;
}
*/


abbr,
.pn {
        -ms-hyphens: manual;
    -webkit-hyphens: manual;
            hyphens: manual; /* 51 don't auto-hyphenate abbreviations and proper names */
                             /* caniuse.com/#feat=css-hyphens No desktop Chrome support */
}

abbr.smallcaps { /* 86 don't use in title-case headings */
    font-variant-caps: all-small-caps; /* 86 if font has c2sc OpenType feature */
    
    font-variant-caps: small-caps; /* 86 if font only has smcp OpenType feature */
    text-transform: lowercase;
}

.historical-ligatures {
    font-variant-ligatures: discretionary-ligatures historical-ligatures;
}

/* 102 to style horizontal rules with an image */
hr {
    height: 1em;
    border: 0;
    background: url(fleuron.svg) center no-repeat;
    background-size: contain;
}

ol,
ul { /* 108 */
}

/* 106 style regular blockquotes (cited text) differently than pull quotes (attention grabbing) */
blockquote {
    /* 106 indent from left, italicize or reduce font size */
    /* 106 align citation right, reduce font size, set off with em dash */
}
blockquote.pull-quote {
    /* 106 increase font size */
}

a { /* 114 */
}

sub,
sup { /* 124 removed default styles */ 
    font-size: inherit;
    vertical-align: inherit;
}

sub { 
    font-variant-position: sub; /* 123 correct subscript position */
}

sup { 
    font-variant-position: sup; /* 123 correct superscript position */
}

/* 107 hang opening quote by giving it a negative left margin */
.quoted p {
    quotes: '“' '”' '‘' '’';
}
.quoted p::before {
    content: open-quote;
    margin-left: -0.83ch;
}
.quoted p::after {
    content: close-quote;
}

table {
    border-collapse: collapse; /* 134 one border between cells */
    font-variant-numeric: lining-nums tabular-nums; /* 133 use lining and tabular numerals for tables */
}

/* 130 set on header and body */
table .numeric-column {
    text-align: right;
}

td,
th {
    line-height: 1; /* 134 */
    padding: 0.125em 0.5em 0.25em 0.5em; /* 134 spacing for legibility */
}

/* 131 align to character
   no browser support
   eg 1.2 and 1.23 on ., 10 x 10 and 4 x 4 on x, 4:3 and 16:10 on : 
*/
/* td.align-decimal { text-align: "." center; }*/

/* 140 oblique headings when needed to save space; absolute position headings to shrink columns */
th.oblique-heading {
    transform-origin: bottom left;
    position: absolute;
}

th.oblique-heading.table1 {
    transform: translate(2.58em,-2em) rotate(-60deg);
}

/* 141 allow tables to scroll horizontally when necessary */
figure.scrolling-table {
    overflow-x: scroll;
    max-width: 100%;
}

/* 143 responsive tables - display as list at breakpoint */
@media (max-width: 25em) {
    table, 
    caption, 
    tbody, 
    tr, 
    th, 
    td {
        display: block;
        text-align: left;
    }
    
    thead, 
    th:empty, 
    td:empty {
        display: none;
        visibility: hidden;
    }
    
    th[data-title]:before, 
    td[data-title]:before {
        content: attr(data-title) ": ";
        display: inline-block;
        width: 3.5em;
    }
}

/* 149 add tracking for strings of 3+ digits */
.digit-string {
    letter-spacing: 0.05em; 
}

/* 149 space all-caps headings a little */
h1.upper-case {
    letter-spacing: 0.5em; 
    margin-right: -0.5em; /* 149 compensate for incorrect spacing after last letter */
    font-feature-settings: normal; /* 151 don't use ligatures when tracking */
}

/* 150 tighten title-cased headings a little */
h1.title-case {
    letter-spacing: -0.03em;
}

/* 162 use ch when you want constant line breaks */
.constant-line-breaks { 
    width: 21ch; 
}

/* 166 use swashes when available and appropriate; can be stored in different numbered tables, eg swash(2); may need to turn on for individual characters */
h1.swash {
    font-variant-alternates: swash(1);
}

/* 167 use discretionary ligatures when available and appropriate */
.discretionary-ligatures { 
    font-variant-ligatures: discretionary-ligatures; 
}

/* 167 use historical ligatures when available and appropriate */
.historical-ligatures { 
    font-variant-ligatures: historical-ligatures; 
}

/* 168 use stylistic alternates when available and appropriate */
.stylistic-alternates {
    font-variant-alternates: stylistic(1);
    font-variant-alternates: styleset(3) styleset(4); /* 168 can set multiple stylesets */
}

/* 170 use contextual ligatures when available and appropriate */
.contextual-ligatures {
    font-variant-ligatures: contextual;
}

/* 170 use historical forms when available and appropriate */
.historical-forms {
    font-variant-alternates: historical-forms;
}

/* 170 use character variants when available and appropriate */
.character-variant {
    font-variant-alternates: character-variant(1);
}

/* 170 use ornaments when available and appropriate */
.ornaments {
    font-variant-alternates: ornaments(1);
}

/* 170 use annotation forms when available and appropriate */
.annotation {
    font-variant-alternates: annotation(1);
}

/* 201 use greyscale smoothing to correct Mac display of large, reversed text (white text on black background) */
.dark-theme h1 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* 261 consider using the system font for functional text like captions */
caption {
    font: message-box;
    font: -apple-system-body;
    font-size: 1.2rem;
}